*.o
*.btr
.deps

hypre_app

stamp-*
configure~
configure.scan
config.h.in~
Makefile.in
autoscan.log
autom4te.cache/
aclocal.m4
compile
config.guess
config.h.in
config.log
config.status
config.sub
depcomp
install-sh
missing