###############
# Miscellaneous
###############
*.o
*.btr
.deps
.dirstamp

############
# Executable
############
hypredrive

###########
# Autotools
###########
aclocal.m4
autoscan.log
autom4te.cache/
configure~
configure.scan
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure~
configure.scan
compile
depcomp
install-sh
Makefile
Makefile.in
missing
stamp-*

###############
# Documentation
###############
Doxyfile
TAGS
docs/usrman-src/_*
docs/usrman-build/
docs/html
docs/latex
docs/man
docs/rtf
docs/xml